src/main/resources/tmlaccount.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.tml.com/springsoap/gen"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tml.com/springsoap/gen" targetNamespace="http://www.tml.com/springsoap/gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tml.com/springsoap/gen">

            <xs:element name="addAccountRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="k_number" type="xs:string" />
                        <xs:element name="agent_number" type="xs:string" />
                          <xs:element name="customer_number" type="xs:string" />
                        <xs:element name="caller_id" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="addAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="accountResponse" type="tns:accountResponse" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="accountResponse">
                <xs:sequence>
                   
                    <xs:element name="error" type="tns:error" />
                     <xs:element name="success" type="tns:success" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="error">
              <xs:sequence>
             <xs:element name="message" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
            <xs:complexType name="success">
              <xs:sequence>
             <xs:element name="message" type="xs:string" />
               <xs:element name="status" type="xs:string" />
                 <xs:element name="caller_id" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addAccountResponse">
        <wsdl:part element="tns:addAccountResponse" name="addAccountResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addAccountRequest">
        <wsdl:part element="tns:addAccountRequest" name="addAccountRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TMLPort">
        <wsdl:operation name="addAccount">
            <wsdl:input message="tns:addAccountRequest" name="addAccountRequest">
            </wsdl:input>
            <wsdl:output message="tns:addAccountResponse" name="addAccountResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TMLPortSoap11" type="tns:TMLPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="addAccount">
            <soap:operation soapAction="" />
            <wsdl:input name="addAccountRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="addAccountResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TMLPortService">
        <wsdl:port binding="tns:TMLPortSoap11" name="TMLPortSoap11">
            <soap:address location="http://localhost:8080/ws" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>